@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,body {
  font-family: 'montserrat', 'roboto';
  justify-content: center;
  background-color: #f4cffa;

}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
    margin: 0;

}

h1 {
  text-align: center;
  font-family: 'montserrat';
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  background-color: #FA2854;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #fa053a;
}

.result {
  text-align: center;
  /* margin-top: 20px; */
  font-weight: bold;
}

.hide{
  display: none;
}
.submit-retry{
  display: flex;
  direction: column;
  /* margin-top: 20px; */
}
#progress{
    text-align: center;
    padding: 10px 0px;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
    margin: 60% auto;
}
.logo img{
    width: 150px;
    height: 150px;
    margin: auto auto;
    display: block;
}
.startquiz button{
    display: block;
    width: 80%;
    margin: 40px auto;
    padding: 10px 20px;
    background-color: #FA2854;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    transition: background-color 0.3s;
    /* margin-right: 10px; */

}

 /* Popup container */
 .timeout {
    width: 80%;
    padding: 20px;
    margin: 50% auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    z-index: 1000;
}

/* Popup text */
.timeout h4 {
    margin-top: 0;
}

.timeout p {
    margin: 15px 0;
}

/* Close button */
.timeout button {
    padding: 10px 20px;
    background-color: #FA2854;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.timeout button:hover {
    background-color: #FA053a;
}

.circular-progress{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: conic-gradient(#FA2854 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.circular-progress::before{
    content: "";
    position: absolute;
    padding:8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value{
    position: relative;
    font-size: 10px;
    font-weight: 200;
    color: #FA2854;
}
#timer{
    text-align: center;
    padding: 10px 0px;
}